{% if block.slider.items %}
  <div class="our-mission">
    <div class="grid-block our-mission__wrapper">
      <div class="our-mission__content">
        {% if block.header %}
          <h2 class="our-mission__title">{{ block.header }}</h2>
        {% endif %}
        {% if block.description %}
          <div class="our-mission__text">{{ block.description|linebreaksbr }}</div>
        {% endif %}
      </div>
      <div class="our-mission__slider-box">
        <div class="our-mission__slider">
          <div class="swiper-wrapper">
            {% for image in block.slider.items.all() %}
              <div class="swiper-slide">
                <img src="{{ image.image.desktop.url }}" alt="{{ block.header }}">
              </div>
            {% endfor %}
          </div>
          <div class="our-mission__pagination"></div>
        </div>
        <div class="our-mission__social-box">
          <div class="our-mission__social-box-wrap">
            <p class="our-mission__social-box-text">{{ _('Follow us on social networks. Only the latest news, useful information, unique offers.' ) }}</p>
            <div class="social-links our-mission__social-links">
              {% social_links %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endif %}
