<div class="menu mobile-menu">
  <div class="scrollable">
    <div class="scrollable-content">
      {% menu 'main' %}
    </div>
  </div>
</div>

<header>
  <div class="grid-block">
    <div class="flex">
      <div class="logo-box">
        {% if is_main_page %}
          <div class="logo logo--main"></div>
        {% else %}
          <a href="/" class="logo"></a>
        {% endif %}
      </div>

      <div class="menu-box">
        <div id="mobile-menu-button">
          <div class="burger"></div>
        </div>
        <nav class="menu main-menu">
          {% menu 'main' %}
        </nav>
      </div>
      <div class="phone-box">
        <div class="phone-box__wrap">
          {% if phone %}<a href="tel:{{ phone|phone }}" class="phone-box__phone">{{ phone }}</a>{% endif %}
          <a href="{{ url('contacts:index') }}" class="phone-box__btn btn blue-btn">{{ _('Make Appointment' ) }}</a>
          <div class="phone-box__address">
            {% for hour in hours %}
              <p>{{ hour }}</p>
            {% endfor %}
            <p>Thursday - By appointment</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<div id="contact-slide" class="contact-slide">
  <a href="{{ url('contacts:index') }}" class="contact-slide__cont btn blue-btn"><span>{{ _('Text us' ) }}</span></a>
  {% if phone %}<a href="tel:{{ phone|phone }}" class="contact-slide__tel btn yellow-btn"><span>{{ _('Call us' ) }}</span></a>{% endif %}
  <a href="https://maps.google.com/maps?daddr={% if not address.coords.lat %}40.4224565{% endif %},{% if not address.coords.lat %}-104.728624{% endif %}&z=15"
     class="contact-slide__direct btn blue-btn js-directionLink" target="_blank"><span>{{ _('Get Directions' ) }}</span></a>
</div>