@font-face {
    font-display:swap;
    font-family: 'Phosphate Pro Solid';
    src: url('/static/fonts/Phosphate/subset-PhosphatePro-Solid.woff2') format('woff2'),
        url('/static/fonts/Phosphate/subset-PhosphatePro-Solid.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}